.p1 {
  margin-top: 10px;
  display: flex;
  background-color: rgba(245, 245, 247, 0.8);
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.Header menu {
  margin-top: 10px;
  display: flex;
  height: 44px;
  gap: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img {
  margin-top: 10px;
  width: 22px;
  height: 22px;
  gap: 24px;
}
.item {
  width: 22px;
  height: 33px;
  margin-top: 10px;
  gap: 24px;
}
.items {
  width: 22px;
  height: 33px;
  margin-top: 10px;
  gap: 24px;
}
.description {
  display: flex;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
}
.background {
  background-image: url(/Background.png);

  height: 75px;
}
.section {
  display: flex;
  padding: 0 140px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 80px;
}
.W {
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.E {
  color: #6e6e73;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 32px;
  flex-direction: row;
  padding-top: 30px;
}
.ShoppingHelp {
  display: flex;
  align-items: flex-start;
}
.productionlist {
  display: flex;
  padding: 0 140px;
  align-items: center;
  gap: 12px;
  padding-top: 80px;
  padding-bottom: 80px;

  align-items: center;
  justify-content: center;
  justify-items: center;
}
.storecard {
  display: flex;
  width: 136px;
  padding: 16px 8px;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 18px;
  align-items: center;
}
.Q {
  height: 78px;
}
.section2 {
  display: flex;
  padding: 0 140px;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
}
.BN {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.B {
  color: #6e6e73;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  padding-left: 10px;
}
